# ──────────────────────────────────────────
# Database — CockroachDB v25.2
# ──────────────────────────────────────────
DATABASE_URL=postgresql://pointflow_user@localhost:26257/pf_loyalty?sslmode=disable

KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID_SERVER=loyalty-engine-server
KAFKA_CLIENT_ID_CLIENT=loyalty-engine-client
KAFKA_GROUP_ID=loyalty-engine-group

LOYALTY_ENGINE_HOST=localhost
LOYALTY_ENGINE_PORT=3002

